// ion-content{
//     --background: aquamarine;
// }
// .form{
//     --background-color: turquoise;
// }
ion-button{
    --background:red ;
        color:white;
}
.btnRegister{
    --background:red;
    color: white;

}
ion-content{
    --background:lightgray ;
}
