<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Patients</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="loginscreen" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Pacientes</ion-card-title>
      <ion-card-subtitle>Busca, crea, elimina, llama, anota y agenda nuevos turnos. Todo a la mano para gestionar tus pacientes!</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form>

        <div class="search-create"> 
          <ion-searchbar 
                          >

          </ion-searchbar>
          <!-- placeholder='try"matias"'
          [(ngModel)]="searchTerm"
          showCancelButton="focus" -->
          <ion-button class="create-btn" routerLink="/createpatient">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </div>
        
        <ion-list>
          <ion-item *ngFor="let paciente of pacientes ">
            <ion-label>
              {{ paciente.nombre }} {{ paciente.apellido }}
            </ion-label>
          </ion-item>

          <!-- <ul>
            <li *ngFor="let paciente of pacientes" >
              {{ paciente.nombre }} {{ paciente.apellido }}
            </li>
          </ul> -->
        </ion-list>
        
        

        <div class="re-btn-wrap">
          <ion-button class="turn-btn" routerLink="/assignturn">
            <ion-icon name="calendar"></ion-icon>
          </ion-button>
          <ion-button class="clipboard-btn" routerLink="/annotator">
            <ion-icon name="clipboard"></ion-icon>
          </ion-button>
          <ion-button class="call-btn">
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
          <ion-button class="delete-btn" (click)="pedirDatos()" >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
