<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="loginscreen" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Agenda</ion-card-title>
      <ion-card-subtitle>Revisa, crea y elimina turnos. Gestiona tus sesiones desde esta pantalla.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form>

        <div class="search-filter"> 
          <ion-button class="filter-btn" expand="full" fill="outline" shape="round" color="dark">
            <ion-icon name="options"></ion-icon> 
            Filtrar por
          </ion-button>
        </div>
        
        <ion-list>
          <ng-container *ngIf="events | async as eventList">
            <ion-item *ngFor="let event of eventList">
              <!-- Mostrar detalles del evento -->
            </ion-item>
          </ng-container>
        </ion-list>
        <button (click)="getEvents()">Obtener Eventos</button>

        <div class="re-btn-wrap">
          <ion-button class="turn-btn" routerLink="/assignturn">
            <ion-icon name="calendar"></ion-icon>
          </ion-button>
          <ion-button class="call-btn">
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
          <ion-button class="delete-btn">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
