ion-content{
    --ion-background-color: transparent;
}

ion-header{
    position: absolute;
    ion-buttons{
        margin: 10px;
    }
}

ion-toolbar{
    --ion-background-color: transparent;
    opacity: 0;
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none;
    height: 100%;
}

ion-card-title{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

ion-card-subtitle{
    padding: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

// .search-filter{
//     display: flex;
//     align-items: center;
//     .filter-btn {
        
//         --background: transparent; /* Hacer el fondo transparente */
//         --border: none; /* Eliminar el borde */
//         --height: auto; /* Ajustar la altura automáticamente */
//         --width: auto; /* Ajustar el ancho automáticamente */
//         --padding: 0; /* Eliminar el relleno interno */
//     ion-icon {
//       height: 30px; /* Reducir el tamaño del ícono */
//       width: 30px; /* Reducir el tamaño del ícono */
//     }
//     }
// }

.re-btn-wrap{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 25px;
}

.turn-btn {
    --background: #a23ae7;
    --border-radius: 30px;
    height: 60px;
    width: 60px;
    ion-icon{
        height: 30px;
        width: 30px;
    }
}

.call-btn {
    --background: #183697;
    --border-radius: 30px;
    height: 60px;
    width: 60px;
    ion-icon{
        height: 30px;
        width: 30px;
    }
}

.delete-btn {
    --background: #ff0000;
    --border-radius: 30px;
    height: 60px;
    width: 60px;
    ion-icon{
        height: 30px;
        width: 30px;
    }
}

.Exec-btn {
    --background: #f0c740;
    --border-radius: 30px;
    height: 60px;
    width: 60px;
    ion-icon{
        height: 30px;
        width: 30px;
    }
}