<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="loginscreen" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Agenda</ion-card-title>
      <ion-card-subtitle>Revisa, crea y elimina turnos. Gestiona tus sesiones desde esta pantalla.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form>

        <div class="search-filter"> 
          <ion-searchbar name="search" [(ngModel)]="searchTerm" showCancelButton="focus" (ionChange)="applyFilter()"></ion-searchbar>
          <ion-icon name="options"></ion-icon> 
          <ion-button>
          Filtrar por Nombre
          </ion-button>
        </div>
        <script src="https://calendar.google.com/calendar/embed?src=calendaap%40gmail.com&ctz=America%2FArgentina%2FBuenos_Aires" style="border: 0" width="800" height="600" frameborder="0" scrolling="no" type="text/javascript"></script>
        <ion-list>
          <ng-container *ngFor="let event of filteredEvents">
            <ion-item>
              <ion-label>{{ event.summary }}</ion-label>
              <ion-note>{{ event.start.dateTime }}</ion-note>
            </ion-item>
          </ng-container>
        </ion-list>

        <div class="re-btn-wrap">
          
          <ion-button class="call-btn">
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
          <ion-button class="delete-btn" (click)="getCalendarEvents()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>