ion-content{
    --ion-background-color: transparent;
}

ion-header{
    position: absolute;
    ion-buttons{
        margin: 10px;
    }
}

ion-toolbar{
    --ion-background-color: transparent;
    opacity: 0;
}

ion-card{
    --ion-background-color:transparent;
    box-shadow: none;
    height: 100%;
}

ion-card-title{
    margin-top: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

ion-card-subtitle{
    padding: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
}

.btn-wrap{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: bottom;
}

.save-btn{
    --ion-color-primary: #215AB7;
}