<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="loginscreen" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-no-margin">
    <ion-card-header>
      <ion-card-title>Registrate</ion-card-title>
      <ion-card-subtitle>Crea una cuenta y organizar tus consultas sera mas fácil</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form" novalidate (ngSubmit)="register()">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input formControlName="email" placeholder="Email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" formControlName="password" placeholder="Contraseña" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" formControlName="confirmPassword" placeholder="Confirmar contraseña" required></ion-input>
        </ion-item>
        <ion-note *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </ion-note>
        <div class="sign-btn-wrap">
          <ion-button type="submit" shape="round" fill="solid" class="sign-btn"  (click)="register()" [disabled]="!form.valid">Registrarse</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
